*{
    padding: 0px;
    margin: 0px;
}
.header{
    height: 100px;
    width: 100%;
    background-color: rgba(243, 237, 233, 1);
}
.row1{
    display: flex;
}
.col1{
    background-image: url(logo1.jpg.jpg);
    width: 200px;
    height: 80px;
    background-size: cover;
    margin-top: 9.5px;
    margin-left: 14px;
}
.col2{
    flex-grow: 4;
}
.text{
    display: flex;
    float: right;
    margin-top: 35px;
    margin-right: 40px;
}
.explore{
    margin-right: 30px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(159, 131, 95);
    font-weight: bold;
}
.about{
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(159, 131, 95);
    font-weight: bold;
}
.section1{
    margin-left: auto;
    margin-right: auto;
    width: 1300px;
    height: 500px;
}
.sec-row{
    display: flex;
}
.img{
    height: 300px;
    width: 700px;
    background-image: url(dd1.jpg);
    background-size: cover;
    margin-top: 90px;
}
.matter{
    height: 470px;
    width: 600px;
    background-color: rgb(243, 242, 242);
}
.mt1{
    margin-top: 90px;
    margin-left: 30px;
    margin-right: 20px;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: rgb(0, 0, 83);
}
.mt2{
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 20px;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}
.mt3{
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 20px;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}
.section2{
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    height: 600px;
    margin-top: 70px;
    display: flex;
}
.s2-1{
    height: 600px;
    width: 600px;
    background-image: url(about2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.s2-2{
    height: 600px;
    width: 600px;
    background-color: rgb(243, 242, 242) ;
}
.icon{
    display: flex;
    margin-top: 50px;
    margin-left: 30px;
}
.footer{
    height: 130px;
    width: 100%;
    background-color: rgba(243, 237, 233, 1);
    margin-top: 30px;
}
.f-row{
    display: flex;
    padding-top: 50px;
    margin-left: 50px;
}
.i1{
    font-size: 24px;
}
.i2{
    margin-left: 9px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}
.i3{
    margin-left: 1000px;
    font-size: 25px;
    color: palevioletred;
}
.i4{
    margin-left: 20px;
    font-size: 25px;
    color: rgb(9, 142, 198);
}
.i5{
    margin-left: 20px;
    font-size: 25px;
    color: blue;
}
.i-4{
    margin-top: 140px;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    margin-left: 70px;
}
.i-1{
    font-size: 40px;
    color: palevioletred;
    margin-left: 50px;
}
.i-2{
    font-size: 40px;
    color: rgb(9, 142, 198);
    margin-left: 50px;
}
.i-3{
    font-size: 40px;
    color: blue;
    margin-left: 50px;
}
a{
    text-decoration: none;
}
.i-5{
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 20px;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    margin-left: 70px;
    font-weight: bold;
}